<div class="card">
  <!-- 画像 -->
  <div class="card__img">
    <% if prototype.image.attached? %>    
      <%= link_to prototype_path(prototype) do %>
        <%= image_tag prototype.image, alt: prototype.title %>
       <% end %>
    <% else %>
      <p>画像はありません</p>
    <% end %>
  </div>

  <!-- プロトタイプ名 -->
  <p class="card__title">
    <%= link_to prototype.title, prototype_path(prototype) %>
  </p>

  <!-- キャッチコピー -->
  <p class="card__summary">
    <%= prototype.catch_copy %>
  </p>

  <!-- 投稿者 -->
  <p class="card__user">
    by 
    <%= link_to prototype.user.name, user_path(prototype.user) %>
    </p>
</div>
